@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: poppins;
  src: url(../public/assets/fonts/poppins/Poppins-Black.otf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-Bold.otf);
}

@font-face {
  font-family: semi-poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-SemiBold.otf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../public/assets/fonts/poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: poppins-thin;
  src: url(../public/assets/fonts/poppins/Poppins-Thin.otf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../public/assets/fonts/poppins/Poppins-Regular.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: semi-poppins-bold;
  color: #20242D;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.regular-text {
  font-family: poppins-regular !important;
}

.semi-bold {
  font-family: semi-poppins-bold !important;
}

.carousel .slide {
  text-align: initial !important;
}

.control-next, .control-prev, .carousel-status {
  display: none !important;
}